@model RaalProjectPreview.BLL.Models.Home.Request.LoginRequestModel
<h2>Вход в систему</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="login" class="col-sm-2">Логин</label>
            <div id ="login" class="col-sm-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="pass" class="col-sm-2">Логин</label>
            <div id="pass" class="col-sm-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Вход" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    <a id="register" class="btn btn-link" href="/Home/SignIn">Регистрация</a>
</div>
